@model EBC.BuscaInsumo.Mvc.ViewModels.SearchViewModel
@{
	ViewBag.Title = "NoResults";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<div style="text-align: center; width: 100%; vertical-align: top; padding-top: 120px; ">

	<h2>O que voce procura para sua cerveja ?</h2>
	@using (Html.BeginForm("Search", "Home", FormMethod.Post)) {
		@Html.TextBoxFor(obj => obj.terms, new { style = "width:80%" })
		<input type="submit" id="searchButton" value="Buscar Insumos" />
	}

	<h3>Nenhum resultado encontrado</h3>
</div>

